<h1>Hello World!</h1>
<app-rooms></app-rooms>

<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from NG Content</h1>
</app-container>

<div #name></div>

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User</div>
  <div *ngSwitchCase="'Admin'"><app-rooms></app-rooms></div>
  <div *ngSwitchDefault>You are not Authorized to view this Page!</div>
</div> -->

<!-- <select [(ngModel)]="selectedValue">
  <option *ngFor="let item of items" [value]="item.name">
    {{ item.name }}
  </option>
</select>
<div class="row" [ngSwitch]="selectedValue">
  <div *ngSwitchCase="'One'">One is Pressed</div>
  <div *ngSwitchCase="'Two'">Two is Selected</div>
  <div *ngSwitchDefault>Default Option</div>
</div> -->

<!-- Dynamically load the component-->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->
